<div class="container col-lg-9 col-md-9 col-sm-9 col-xs-9r">
    <div class="header">
        <h3>
            {{l('AskQuestion')}}
        </h3>
    </div>
    <div class="create-question">
        <form #myform="ngForm" class="form question-form" method="post" (ngSubmit)="save()">

            <div class="form-group form-float">
                <div class="form-line">
                    <label for="question-title">{{l('Title')}}</label>
                    <input id="question-title" class="form-control" type="text" [(ngModel)]="question.title" name="Title" required minlength="15" maxlength="200" placeholder="What's you question?, be specific" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-line">
                    <label for="question-body">{{l('Body')}}</label>
                    <ckeditor id="question-body" [(ngModel)]="question.body" [editor]="Editor" [config]="config" name="Body" data="<p></p>" class="body"></ckeditor>
                </div>
            </div>

            <div class="form-group">
                <label for="question-tags">{{l('Tags')}}</label>
                <tag-input [(ngModel)]="items" 
                           id="question-tags" 
                           [placeholder]="'e.g. (react, angular, java)'" 
                           [secondaryPlaceholder]="'e.g. (react, angular, java)'" 
                           name="Tags" 
                           [maxItems]="5"
                           [animationDuration]="{enter: '0ms', leave: '0ms'}"
                           class="tag-input"
                           [theme]="'foundation-theme'"></tag-input>
            </div>

                <button type="submit" class="btn btn-primary">Post Your Question</button>
        </form>
    </div>
</div>
