<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Our Privacy Policy
                </h2>
            </div>
            <div class="body">
                <div class="about-body" style="font-size: 18px; line-height: 18px;">
                    <p>We give prime importance to securing the privacy of your personal information and in the interest of transparency, we're reproducing below the details of what type of data is collected from your visits to this site and how it is safeguarded. Please read carefully these details before proceeding to access this site.</p>
                    <p>(1) We assure you at the outset itself that whatever personal data is collected from your visits to this site will never be sold by us to third parties. Further, we never misuse any such data for any purposes, whatsoever.</p>
                    <p>(2) We use Google Analytics and/or StatCounter to know and analyse the data regarding visits to this site. The data collected by this service may include details of your IP address, the ISP, browser used, operating system, date and time of visit, web pages visited on this site, etc. We assure you that we don't collect any personal details of the visitors to this site, such as your name, address, phone numbers, or any such similar details, unless you have registered on this website as a user and have provided these details yourself. Moreover, whatever data is collected, as mentioned above, is for the purposes of analysing the visitor preferences on this site, to find out the number of visitors, to ascertain the popular pages on the site, browser preferences, language preferences, for diagnostic purposes, and the like, so as to enable us to serve you better by providing you better material on this site.</p>
                    <p>(3) The cookies are used to store information like your time of stay, encrypted information about your sessions on the website, your view preferences, to remember you for future sessions</p>
                    <p>(4) You can ask questions, answer the questions only after you have signed up as a free registered user on this website. For registration, your real name and email address are needed and you can optionally provide other details about you, including your photo. This information is publicly displayed along with your contribution. However, your email is kept confidential and will be used to contact you only in good faith and only in any case of a special need which may occur like password reset etc.</p>
                    <p>(5) Your password is not known to us, it is encrypted and stored in the database. The encryption is one-way encryption, i.e., you can encrypt the password, but it cannot be decrypted. So, the password cannot be reverse-engineered. Since we use HTTPS (secure) protocol for our website, even during communication from your browser to our servers, your communication (including password) is well-protected.</p>
                    <br />
                    <p>Protection of your privacy is our prime concern. If you need any further information in this regard, you may contact us by sending email at info AT letsdiscuss DOT com.</p>
                </div>
            </div>
        </div>
    </div>
</div>