.negative-margin-top-10 {
    margin-top: -10px;
}

.question-summary {
    display: flex;
}

.status-container {
    width: 70px;
    float: left;
    margin-right: 20px;
}

.summary {
    flex: 1 auto;
    float: none;
    width: auto;
    margin: 0px;
}

.vote {
    text-align:center;
}

.votes, .answers {
    padding:0;
    margin-bottom:8px;
    text-align:center;
}

.question {
    padding: 10px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}

.stats {
    font-size:12px;
}

.views {
    font-size: 10px;
    text-align: center;
}

.questions {
    display:flex;
    flex-direction:column;
}

.question-body {
    min-height:36px;
    margin-top: 10px;
}

.user-info {
    float: right;
}

.summary-title {
    text-decoration:none;
    font-size:16px;
}

.sort-by {
    width:60%;
}