<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right negative-margin-top-10" routerLink="/questions/ask">
                    <i class="material-icons">add</i>
                </button>
                <h2>
                    {{l('AllQuestions')}}
                </h2>
            </div>
            <div class="table-responsive">
                <div class="questions">
                    <div class="question" *ngFor="let question of questions">
                        <div class="question-summary" id="{{question.id}}">
                            <div class="status-container">
                                <div class="stats">
                                    <div class="votes">
                                        <strong>{{question.score}}</strong><div class="vote-display">votes</div>
                                    </div>

                                    <div class="answers">
                                        <strong>{{question.answerCount}}</strong><div class="vote-display">answers</div>
                                    </div>
                                </div>
                                <div class="views">{{question.viewCount}} views</div>
                            </div>
                            <div class="summary">
                                <a class="summary-title" routerLink="/questions/{{question.id}}/{{question.title.replace(' ', '-')}}">{{question.title}}</a>
                                <div class="question-body" [innerHTML]="question.body"></div>
                                <div class="post-tags">
                                    <a href="/questions/tagged/{{tag}}" class="post-tag" title="" rel="tag" *ngFor="let tag of question.tags|commaSeparted">
                                        {{tag}}
                                    </a>
                                    <div class="user-info">
                                        <div class="posted-time">asked {{question.creationTime | timeAgo}} by {{question.creatorUserName}}</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
