<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input materialInput type="text" placeholder="START TYPING...">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div> <!-- #END# Search Bar -->

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a routerLink="/questions" class="navbar-brand"><i class="fa fa-cubes"></i> LetsDisc</a>
        <div class="navbar-toggler">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="m-auto padding-top-8" ><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                <li class="nav-item dropdown" *ngIf="appSession.user">
                    <a aria-haspopup="true" class="nav-link user-loggedin dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        <img class="user-image" src="assets/images/user.png" width="36" height="36" alt="User" />{{shownLoginName | titlecase}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/users/{{userId}}/{{shownLoginName.trim().replace(' ', '-')}}"><i class="fa fa-user"></i>Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i>{{l('Logout')}}</a>
                    </div>
                </li>
                <li lass="nav-item m-auto" *ngIf="!appSession.user">
                    <a class="nav-link" [routerLink]="['/account/login']"><i class="material-icons">person</i><span class="login-text">Log In</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>