<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input materialInput type="text" placeholder="START TYPING...">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div> <!-- #END# Search Bar -->

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a routerLink="/questions" class="navbar-brand"><i class="fa fa-cubes"></i> LetsDisc</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                <li class="pull-right" *ngIf="appSession.user">
                    <a aria-haspopup="true" class="nav-link user-loggedin" data-toggle="dropdown" dropdowntoggle="" href="#" role="button" aria-expanded="false">
                        <img class="user-image" src="assets/images/user.png" width="48" height="48" alt="User" />{{shownLoginName | titlecase}}
                    </a>
                    <ul class="dropdown-menu dropdown-item">
                        <li><a routerLink="/users/{{userId}}/{{shownLoginName.trim().replace(' ', '-')}}"><i class="fa fa-user"></i>Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a (click)="logout()"><i class="fa fa-lock"></i>{{l('Logout')}}</a></li>
                    </ul>
                </li>
                <li class="pull-right" *ngIf="!appSession.user">
                    <a class="nav-link" [routerLink]="['/account/login']"><i class="material-icons">person</i><span class="login-text">Log In</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
