<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{l('AllQuestions')}}
                </h2>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block()" (click)="refresh();"><i class="material-icons">refresh</i> {{l('Refresh')}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <!-- ******************************************************** -->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{{l('Title')}}</th>
                            <th>{{l('Body')}}</th>
                            <th>{{l('UserName')}}</th>
                            <th>{{l('Tags')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of questions | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                            <td>{{question.title}}</td>
                            <td>{{question.body}}</td>
                            <td>{{question.creatorUserName}}</td>
                            <td>{{question.tags}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- ******************************************************** -->
                <div class="text-align: center;" *ngIf="totalItems > pageSize">
                    <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
                </div>
                <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="createQuestion()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>
<edit-question-modal #editQuestionModal (modalSave)="refresh()"></edit-question-modal>
