<!--<div class="card" id="LoginArea">
    <div #cardBody class="body">
        <form #loginForm="ngForm" id="LoginForm" method="post" novalidate>
            <h4 class="text-center">{{l("LogIn")}}</h4>


            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="material-icons">person</i></span>
                </div>
                <input materialInput [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus class="form-control" type="text" autocomplete="off" placeholder="{{l('UserNameOrEmail')}}" name="userNameOrEmailAddress" required maxlength="255" />
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="material-icons">lock</i></span>
                </div>
                <input materialInput type="password" [(ngModel)]="loginService.authenticateModel.password" class="form-control" name="password" placeholder="{{l('Password')}}" required maxlength="32">
            </div>
            <div class="col-xs-8 p-t-5">
                <input type="checkbox" [(ngModel)]="loginService.rememberMe" name="rememberMe" id="rememberme" class="filled-in chk-col-pink" value="true">
                <label for="rememberme">{{l("RememberMe")}}</label>
            </div>
            <div class="col-xs-4">
                <button id="LoginButton" class="btn btn-block bg-pink waves-effect" type="submit" (click)="login()">{{l("LogIn")}}</button>
            </div>
            <div class="row m-t-15 m-b--20" *ngIf="isSelfRegistrationAllowed">
                <div class="col-xs-12">
                    <a [routerLink]="['../register']">{{l("Register")}}</a>
                </div>
            </div>
            
        </form>
    </div>
</div>-->

<div class="card" id="LoginArea">
    <div #cardBody class="body">
        <form #loginForm="ngForm" id="LoginForm" method="post" novalidate>

            <h4 class="text-center">{{l("LogIn")}}</h4>

            <input type="text" [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" class="form-control mb-4" placeholder="{{l('UserNameOrEmail')}}" name="userNameOrEmailAddress" required maxlength="255">

            <input type="password" [(ngModel)]="loginService.authenticateModel.password" class="form-control mb-4" name="password" placeholder="{{l('Password')}}" required maxlength="32">

            <div class="d-flex justify-content-around">
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" [(ngModel)]="loginService.rememberMe" name="rememberMe" id="rememberme" class="filled-in" value="true">
                        <label for="rememberme">{{l("RememberMe")}}</label>
                    </div>
                </div>
                <div>
                    <a href="">Forgot password?</a>
                </div>
            </div>

            <button class="btn btn-info btn-block my-4" type="submit" (click)="login()">Sign in</button>

            <p>
                Not a member? <a [routerLink]="['../register']">{{l("Register")}}</a>
            </p>

            <div class="social-login">
                <button class="btn btn-default google-login" (click)="socialLogin('Google')" title="Google">
                    <i class="fa fa-google margin-right-5"></i>
                    Login with Google
                </button>
            </div>

        </form>
    </div>
</div>
