<div class="container col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="card">
        <div class="body table-responsive">
            <div class="user">
                <div class="user-card">
                    <div class="user-avater"><img src="../../../assets/images/user.png" /></div>
                    <div class="user-reputation">{{userDetails?.reputation}} Reputation</div>
                    <div class="user-questions"><strong>{{questionsCount}}</strong>{{questionsCount | i18nPlural: itemPluralMapping['question']}}</div>
                    <div class="user-answers"><strong>{{answersCount}}</strong>{{answersCount | i18nPlural: itemPluralMapping['answer']}}</div>
                    <div class="user-views">{{userDetails?.views | i18nPlural: itemPluralMapping['view']}}</div>
                    <div class="user-member-for">Member for {{ createdTimeAgo }}</div>

                </div>
                <div class="user-info">
                    <div class="user-name">{{user?.fullName | titlecase}}</div>
                    <div class="user-location">{{userDetails?.location}}</div>
                    <div class="user-website">{{userDetails?.websiteUrl}}</div>
                    <div class="user-about">{{userDetails?.aboutMe}}</div>
                </div>
                <a class="edit-post" title="edit post" routerLink="/users/{{user?.id}}/edit">edit</a>
            </div>

        </div>
    </div>
</div>

