<div class="row clearfix">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <div class="pull-right col-md-5">
                    <span class="m-r-20">
                        <label class="m-r-5">Sort By: </label>
                        <select class="custom-select sort-by" (change)="sortBy($event.target.value)">
                            <option value="newest">Most Recent</option>
                            <option value="votes">Votes</option>
                        </select>
                    </span>
                    <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float" routerLink="/questions/ask">
                        <i class="material-icons">add</i>
                    </button>
                </div>
                <h2 class="col-md-4">
                    <label>Search Results</label>
                </h2>
            </div>
            <div class="table-responsive search-page">
                <div class="input-group mb-3 m-l-20 m-t-20">
                    <input type="text" class="form-control col-md-6 border search-input" [(ngModel)]="searchString" aria-describedby="basic-addon2" >
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" (click)="searchPosts()">Search</button>
                    </div>
                </div>
                <div class="questions">
                    <div class="question" *ngFor="let post of posts | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                        <div class="question-summary" id="{{post.id}}">
                            <div class="status-container">
                                <div class="stats">
                                    <div class="votes">
                                        <strong>{{post.score}}</strong><div class="vote-display">{{post.score | i18nPlural: itemPluralMapping['vote']}}</div>
                                    </div>

                                    <div class="answers" *ngIf="post.postTypeId == 1">
                                        <strong>{{post.answerCount}}</strong><div class="vote-display">{{post.answerCount | i18nPlural: itemPluralMapping['answer']}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="summary">
                                <a *ngIf="post.postTypeId == 1" class="summary-title" routerLink="/questions/{{post.id}}/{{post.title.toLowerCase().trim().split(' ').join('-')}}">Q : {{post.title}}</a>
                                <a *ngIf="post.postTypeId == 2" class="summary-title" routerLink="/questions/{{post.parentId}}/{{post.title?.toLowerCase().trim().split(' ').join('-')}}" fragment="answer-{{post.id}}">A : {{post.title}}</a>
                                <div class="question-body" [innerHTML]="post.body"></div>
                                <div class="post-tags" *ngIf="post.postTypeId == 1">
                                    <a routerLink="/questions/tagged/{{tag}}" class="post-tag" title="" *ngFor="let tag of post.tags|commaSeparted">
                                        {{tag}}
                                    </a>
                                    <div class="user-info">
                                        <div class="posted-time">asked {{post.creationTime | timeAgo}} by {{post.creatorUserName}}</div>
                                    </div>
                                </div>
                                <div class="post-tags" *ngIf="post.postTypeId == 2">
                                    <div class="user-info">
                                        <div class="posted-time">answered {{post.creationTime | timeAgo}} by {{post.creatorUserName}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-align: center;" *ngIf="totalItems > pageSize">
                    <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
