<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    About LetsDisc
                </h2>
            </div>
            <div class="body">
                <div class="about-body" style="font-size: 18px; line-height: 18px;">
                    <p>LetsDisc is a place where programmers around the world can share ideas and help each other grow. </p>
                    <p>We can think of it as an online community for sharing and discovering great ideas, great questions and great answers.</p>
                    <p>Anyone can share articles, questions, discussions, etc. as long as they are of their own.</p>
                </div>
            </div>
        </div>
    </div>
</div>