<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    About LetsDisc
                </h2>
            </div>
            <div class="body">
                <div class="about-body" style="font-size: 18px; line-height: 18px;">
                    <p>LetsDiscuss is a place where programmers around the world can share ideas and help each other grow by sharing knowledg, experience and wisdom.  </p>
                    <p>We can think of it as an online community for sharing and discovering great ideas, great questions and great answers. Any registered user can ask questions, can also answer questions asked by other users</p>
                    <p>This website has been founded by Gopesh Sharma, Full Stack Developer and the code being open source can be found at <a href="https://github.com/codingdefined/LetsDisc">Github</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>